<div class="overlay" {{action "cancel"}}> 
</div>
<div class="modal-dialog">
	{{#if model.id}}
	    <h3 class="flush--top">Edit Expense</h5><hr>
	    <p>{{input value=model.amount autofocus="autofocus"}}</p>
	    <p>{{view 'date-field' dateBinding="model.date" id="date"}}</p>
	    <p>{{input value=model.description}}</p>
	   	{{view Ember.Select
	   		content=members
	   		optionValuePath="content.id"
	   		optionLabelPath="content.nick"
	   		valueBinding="paidById"
	   		selectionBinding="selectedPayer"
		}}
		<p>
			{{checkbox-select model=model propertyPath="paidFor" elements=childList labelPath="nick"}}
		</p>
	    <hr>
	    <button {{action "close" this}}>Save</button>
	{{else}}
	    <h3 class="flush--top">Add New Expense</h5><hr>
	    <p>{{input value=amount placeholder="amount" autofocus="autofocus"}}</p>
	    <p>{{view 'date-field' dateBinding="date"}}</p>
	    <p>{{input value=description}}</p>
	    <p>{{view Ember.Select
	   		content=members
	   		optionValuePath="content.id"
	   		optionLabelPath="content.nick"
	   		prompt="Select Payer"
	   		selectionBinding="selectedPayer"
		}}</p>
        <button {{action "close"}}>Add</button>
        <button {{action "cancel"}}>Cancel</button>
	{{/if}}

</div>